<div class="login-form-wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <div>
            <label class="login-field-label" for="email">
                Email
            </label>
            <input class="login-field-input" type="text" formControlName="email">
        </div>
    
        <div>
            <label class="login-field-label" for="password">
                Password
            </label>
            <input class="login-field-input" type="password" formControlName="password">
        </div>
    
        <div>
            <button class="login-btn">
                Login
            </button>
        </div>
    </form>
</div>