.body {
    margin: 0.75rem;
    display: flex;
    flex-direction: column;
}

.title {
    @apply text-3xl;
    color: var(--secondary-text-color);
    flex-grow: 0;
}

.content {
    @apply text-xl;
    color: var(--background-text-color);
    flex-grow: 1;
}

.media-player {
    margin: 0.5rem;
    width: fit-content;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-color: var(--secondary-color);
    padding: 0.5rem;
    @apply rounded-xl;
}