.title,
.content {
    border-width: 2px;
    border-color: transparent;
    @apply px-2;

    &.title {
        flex-grow: 0;
        @apply text-3xl;
        color: var(--secondary-text-color);
    }

    &.content {
        flex-grow: 1;
        @apply text-xl;
        color: var(--background-text-color);
    }
}

textarea.title,
textarea.content {
    background-color: transparent;
    border-color: var(--secondary-color);
    @apply rounded-lg;
    resize: none;
}

.media-player {
    width: fit-content;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-color: var(--secondary-color);
    padding: 0.5rem;
    @apply rounded-xl;
}

.util-btn {
    height: 2.2rem;
    weight: 2.2rem;

    &.active {
        stroke: var(--background-color);
        fill: var(--background-color);
        border-color: var(--primary-color);
        background-color: var(--primary-color);
    }
}

.load-txt {
    @apply text-lg;
    color: var(--background-text-color);
}

.file {
    padding: 0.25rem;
    background-color: var(--background-color-light);
    color: var(--background-text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @apply rounded text-sm;

    &:hover {
        user-select: none;
        cursor: pointer;
        background-color: var(--secondary-color);
        color: var(--secondary-text-color);
    }
}