.cpt-root {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    .util-bar {
        position: absolute;
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        gap: 0.5rem;
        animation: fade-out 250ms ease-in-out forwards;
        opacity: 0.5;
        transform: translateY(0);
    }

    &:hover .util-bar{
        animation: fade-in 250ms ease-in-out forwards;
        opacity: 0;
        transform: translateY(-30%);
    }
}

@keyframes fade-in {
    100% {
        opacity: 0.5;
        transform: translateY(0);
    }
}

@keyframes fade-out {
    100% {
        opacity: 0;
        transform: translateY(-30%);
    }
}

.util-btn {
    border-width: 2px;
    width: 2rem;
    height: 2rem;
    @apply rounded-full;
    @apply border-blue-500  bg-white fill-blue-500 stroke-white stroke-2;

    &:hover {
        cursor: pointer;
        @apply bg-blue-500;
        @apply fill-white;
        @apply stroke-blue-500;
    }
}