<!-- <img *ngFor="let url of safeUrls" [src]="url" class="w-[500px] h-auto m-3"> -->
<div 
    class="relative flex justify-center w-[500px] h-[300px]" 
    (mouseenter)="hovered=true" 
    (mouseleave)="hovered=false"
>
    <div class="w-[100%] h-[100%]">
        <img class="object-contain w-[100%] h-[100%]" 
        *ngIf="safeUrls" 
        [src]="safeUrls[index]" 
        >
    </div>
    
    <button 
        *ngIf="hovered && safeUrls.length > 1" 
        class="border w-[10%] absolute top-0 left-0 h-full bg-blue-100 opacity-50" 
        (click)="onClickPrev()"
    >Prev</button>
    <button 
        *ngIf="hovered && safeUrls.length > 1" 
        class="border w-[10%] absolute top-0 right-0 h-full bg-blue-100 opacity-50" 
        (click)="onClickNext()"
    >Next</button>
</div>