.cpt-root {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .util-bar {
        position: absolute;
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        gap: 0.5rem;
        animation: fade-out 250ms ease-in-out forwards;
        opacity: 1;
        transform: translateY(0);
    }

    &:hover .util-bar{
        animation: fade-in 250ms ease-in-out forwards;
        opacity: 0;
        transform: translateY(-30%);
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out {
    100% {
        opacity: 0;
        transform: translateY(-30%);
    }
}

.util-btn {
    width: 2rem;
    height: 2rem;
    @apply rounded-full;
    background-color: var(--background-color);

    &:hover {
        background-color: var(--primary-color);
    }
}