.cpt-root {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    .util-bar {
        position: absolute;
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        gap: 0.5rem;
        animation: fade-out 250ms ease-in-out forwards;
        opacity: 1;
        transform: translateY(0);
    }

    &:hover .util-bar{
        animation: fade-in 250ms ease-in-out forwards;
        opacity: 0;
        transform: translateY(-30%);
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out {
    100% {
        opacity: 0;
        transform: translateY(-30%);
    }
}

.util-btn {
    border-width: 2px;
    width: 2rem;
    height: 2rem;
    @apply rounded-full;
    border-color: var(--primary-color);
    stroke: var(--primary-color);
    stroke-width: 2;
    fill: var(--primary-color);
    background-color: var(--background-color);

    &:hover {
        cursor: pointer;
        background-color: var(--primary-color);
        fill: var(--background-color);
        stroke: var(--background-color);
    }
}