<div class="form-wrapper">
    <form [formGroup]="createPostForm" (ngSubmit)="onSubmit()" class="form flex flex-col">

        <!-- Form Title -->
        <div class="form-title relative flex-grow-0">
            Create a post

            <!-- Cancel button -->
            <div class="flex justify-end absolute top-0 right-0">
                <svg width="20" height="20" class="cancel-btn" (click)="onCancel()">
                    <rect width="20" height="20" />
                    <polygon points="5,15 15,5" />
                    <polygon points="15,15 5,5" />
                </svg>
            </div>
        </div>

        <!-- Post Title -->
        <div class="field-wrapper flex flex-col flex-grow-[0]">
            <label for="title" class="field-label flex">
                <div class="inline-block w-[20%]">Title</div>
                <div class="inline-block flex-grow">
                    <div class="error-message flex justify-end" *ngIf="submitted && formValue['title'].errors">
                        <div *ngIf="formValue['title'].errors['required']">Please enter a title for this post.</div>
                    </div>
                </div>
            </label>
            <input class="field-input flex-grow" type="text" formControlName="title">
        </div>

        <!-- Post Content -->
        <div class="field-wrapper flex flex-col flex-grow-[20]">
            <label for="content" class="field-label flex">
                <div class="inline-block w-[20%]">Content</div>
                <div class="inline-block flex-grow">
                    <div class="error-message flex justify-end" *ngIf="submitted && formValue['content'].errors">
                        <div *ngIf="formValue['content'].errors['required']">Please enter contents for this post.</div>
                    </div>
                </div>
            </label>
            <textarea class="field-input flex-grow resize-none" formControlName="content" cols="40"></textarea>
        </div>

        <!-- Drag and drop area -->
        <div class="flex-grow-[4] mb-1">
            <app-file-upload formControlName="file" [allowedExtensions]="['.jpg','.png']"></app-file-upload>
        </div>

        <!-- File name list -->
        <div class="flex flex-col gap-1 mb-1" *ngIf="files.length > 0">
            <div *ngFor="let file of files; let i = index" class="file" (click)="onRemoveFile($event, i)">
                {{ file.name }}
            </div>
        </div>

        <!-- Submit button -->
        <button class="util-btn submit-btn flex-grow-0">Submit</button>
    </form>
</div>