.form-wrapper {
    @apply w-full sm:w-[80%] md:w-[60%] lg:w-[50%];
    @apply h-3/4;
}

.form-title {
    color: var(--secondary-text-color);
    @apply text-xl text-center font-bold;
}

.form {
    border-width: 2px;
    background-color: var(--background-color);
    border-color: var(--background-text-color);
    padding: 0.75rem;
    @apply w-full;
    @apply h-full;
    @apply shadow-md;
    @apply rounded-lg;
}

.field-wrapper {
    width: 100%;
    margin-bottom: 0.5rem;
}

.field-label {
    display: block;
    color: var(--background-text-color);
    height: 50%;
    max-height: 20px;
    @apply text-sm;
    @apply font-bold;
}

.field-input {
    @apply shadow;
    @apply rounded-lg;
    @apply py-2 px-3;
    width: 100%;
    border-width: 2px;
    border-color: var(--background-text-color);
    background-color: var(--background-color);
    color: var(--background-text-color);
}

.submit-btn {
    @apply py-1 px-2;
}

.cancel-btn {
    fill: var(--background-color);
    @apply stroke-red-500;
    @apply stroke-[3];
    @apply cursor-pointer;

    &:hover {
        @apply fill-red-500;
        stroke: var(--background-color);
    }
}

.error-message {
    @apply text-red-500;
}

.register {
    @apply text-blue-500 hover:text-blue-700;
    @apply cursor-pointer;
}