<div class="form-wrapper">
    <form [formGroup]="createPostForm" (ngSubmit)="onSubmit()" class="form flex flex-col">

        <div class="form-title relative flex-grow-0">
            Create a post

            <div class="flex justify-end absolute top-0 right-0">
                <svg width="20" height="20" class="cancel-btn" (click)="onCancel()">
                    <rect width="20" height="20" />
                    <polygon points="5,15 15,5" />
                    <polygon points="15,15 5,5" />
                </svg>
            </div>
        </div>

        <div class="field-wrapper flex flex-col flex-grow-[0]">
            <label for="title" class="field-label flex">
                <div class="inline-block w-[20%]">Title</div>
                <div class="inline-block flex-grow">
                    <div class="error-message flex justify-end" *ngIf="submitted && formValue['title'].errors">
                        <div *ngIf="formValue['title'].errors['required']">Please enter a title for this post.</div>
                    </div>
                </div>
            </label>
            <input class="field-input flex-grow" type="text" formControlName="title">
        </div>

        <div class="field-wrapper flex flex-col flex-grow-[20]">
            <label for="content" class="field-label flex">
                <div class="inline-block w-[20%]">Content</div>
                <div class="inline-block flex-grow">
                    <div class="error-message flex justify-end" *ngIf="submitted && formValue['content'].errors">
                        <div *ngIf="formValue['content'].errors['required']">Please enter contents for this post.</div>
                    </div>
                </div>
            </label>
            <textarea class="field-input flex-grow resize-none" formControlName="content" cols="40"></textarea>
        </div>

        <div class="flex-grow-[4] mb-1">
            <app-file-upload formControlName="file"></app-file-upload>
        </div>

        <button class="util-btn submit-btn flex-grow-0">Submit</button>
    </form>
</div>