<div class="cmp-wrapper">
    <div class="flex">
        <div class="cmp-title">
            Your Posts
        </div>
        <div class="util-bar">
            <svg viewBox="0 0 100 100" class="util-btn" (click)="onClickCreatePost()">
                <polygon points="45,20 45,80 55,80 55,20" />
                <polygon points="20,45 80,45 80,55 20,55" />
            </svg>
        </div>
    </div>

    <div class="posts-container">
        <app-post-preview *ngFor="let post of posts" [post]="post"></app-post-preview>
    </div>

    <div class="overlay" *ngIf="displayCreatePostForm">
        <app-create-posts-form class="create-form" [cbCancel]="onCancelCreatePost" [cbSubmit]="onSubmitCreatePostForm">
        </app-create-posts-form>
    </div>
</div>