.cmp-wrapper {
    @apply border rounded;
    @apply p-2;
    position: relative;
}

.cmp-title {
    @apply text-3xl;
    @apply w-full;
}

.posts-container {
    @apply sm:grid sm:grid-cols-2;
    @apply lg:grid lg:grid-cols-3;
}

.util-bar {
    @apply flex justify-end;
    @apply w-full;
}

.util-btn {
    @apply fill-white hover:fill-blue-500;
    @apply stroke-blue-500 hover:stroke-white;
    @apply stroke-[3];
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2;
}

.create-form {
    position: absolute;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* @apply bg-blue-200/90; */
}