.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    border-width: 2px;
    border-color: var(--background-text-color);
    color: var(--background-text-color);
    @apply shadow-md;
    @apply rounded-lg;
    @apply px-8 pt-6 pb-8;
    @apply mb-4;
    @apply w-full md:w-2/3 lg:w-1/2 xl:w-1/3;
}

label {
    display: block;
    @apply text-sm;
    @apply font-bold;
    @apply mb-2;
}

input {
    width: 100%;
    border-width: 2px;
    border-color: var(--background-text-color);
    background-color: var(--background-color);
    @apply shadow;
    @apply rounded-lg;
    @apply py-2 px-3;
}

button {
    @apply py-2 px-3 mt-2;
}

.error-message {
    @apply text-red-500;
}

.register {
    color: var(--primary-color);
    cursor: pointer;

    &:hover {
        color: var(--primary-color-highlight);
    }
}