<div class="form-wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <div>
            <label for="email">
                Email
            </label>
            <input type="text" formControlName="email">
            <div class="error-message" *ngIf="submitted && formValue['email'].errors">
                <div *ngIf="formValue['email'].errors['required']">Please enter password</div>
            </div>
        </div>
    
        <div>
            <label for="password">
                Password
            </label>
            <input type="password" formControlName="password">
            <div class="error-message" *ngIf="submitted && formValue['password'].errors">
                <div *ngIf="formValue['password'].errors['required']">Please enter password</div>
            </div>
        </div>
    
        <div>
            <button>
                Login
            </button>
            <p class="inline" *ngIf="loading">
                Loading...
            </p>
            <p class="inline error-message" *ngIf="errorMessage">
                {{ errorMessage }} 
            </p>
        </div>

        <div>
            <a (click)="onRegister()" class="register">Register</a>
        </div>
    </form>
</div>