<div class="form-wrapper">
    <form [formGroup]="registrationForm" class="registration-form" (submit)="onSubmit()">
        <div>
            <label for="firstName" class="field-label">
                First Name
            </label>
            <input type="text" formControlName="firstName" class="field-input">
            <div class="error-message" *ngIf="submitted || formValue['firstName'].touched">
                <div *ngIf="formValue['firstName'].errors?.['required']">
                    Please enter your first name
                </div>
            </div>
        </div>

        <div>
            <label for="lastName" class="field-label">
                Last Name
            </label>
            <input type="text" formControlName="lastName" class="field-input">
            <div class="error-message" *ngIf="submitted || formValue['lastName'].touched">
                <div *ngIf="formValue['lastName'].errors?.['required']">
                    Please enter your last name
                </div>
            </div>
        </div>
        
        <div>
            <label for="alias" class="field-label">
                Alias
            </label>
            <input type="text" formControlName="alias" class="field-input">
            <div class="error-message" *ngIf="submitted || formValue['alias'].touched">
                <div *ngIf="formValue['alias'].errors?.['required']">
                    Please enter an alias for your account
                </div>
                <div *ngIf="formValue['alias'].errors?.['aliasExists']">
                    This alias has already been used
                </div>
            </div>
        </div>
        
        <div>
            <label for="email" class="field-label">
                Email
            </label>
            <input type="text" formControlName="email" class="field-input">
            <div class="error-message" *ngIf="submitted || formValue['email'].touched">
                <div *ngIf="formValue['email'].errors?.['required']">
                    Please enter your email address
                </div>
                <div *ngIf="formValue['email'].errors?.['emailExists']">
                    This email has already been used
                </div>
            </div>
        </div>

        <div>
            <label for="password" class="field-label">
                Password
            </label>
            <input type="password" formControlName="password" class="field-input">
            <div class="error-message" *ngIf="submitted || formValue['password'].touched">
                <div *ngIf="formValue['password'].errors?.['required']">
                    Please enter a password
                </div>
            </div>
        </div>

        <div>
            <label for="passwordConfirm" class="field-label">
                Confirm Password
            </label>
            <input type="password" formControlName="passwordConfirm" class="field-input">
            <div class="error-message" *ngIf="submitted || formValue['passwordConfirm'].touched">
                <div *ngIf="formValue['passwordConfirm'].errors?.['required']">
                    Please enter your password again
                </div>
                <div *ngIf="formValue['passwordConfirm'].value && registrationForm.hasError('passwordNotSame')">
                    Password values do not match
                </div>
            </div>
        </div>

        <div>
            <button class="submit-btn util-btn">
                Register
            </button>
            <p class="inline" *ngIf="loading">
                Loading...
            </p>
            <p class="inline error-message" *ngIf="errorMessage">
                {{ errorMessage }} 
            </p>
        </div>
    </form>
</div>