<div class="post"
    (click)="onClickPost($event)">
    <h1 class="title">{{ post.title }}</h1>
    <div class="p-5">
        <p class="content">{{ post.content }}</p>
    </div>

    <svg viewBox="0 0 20 20"
        class="btn"
        (click)="onClickDelete($event)">
        <polygon points="5,15 15,5" />
        <polygon points="15,15 5,5" />
    </svg>

    <!-- Confirm delete overlay element -->
    <div *ngIf="displayConfirmDelte" (click)="$event.stopPropagation()"
        class="delete-box-wrapper">
        <div class="delete-box">
            <div class="flex-grow flex items-center justify-center">
                <div>
                    Delete this post?
                </div>
            </div>
            <div class="flex-grow flex flex-row">
                <div class="flex-grow flex items-center justify-center">
                    <div (click)="onClickConfirmDelete($event)"
                        class="yes">
                        <div>Yes</div>
                    </div>
                </div>
                <div class="flex-grow flex items-center justify-center">
                    <div (click)="onClickCancelDelete($event)"
                        class="no">
                        <div>No</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>