/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    background-color: var(--background-color);
}

* {
    transition: background-color 500ms;
}

.util-btn {
    fill: var(--primary-color);
    stroke: var(--primary-color);
    border-color: var(--primary-color);
    border-width: 2px;
    @apply rounded-lg;

    &:hover {
        stroke: var(--background-color);
        fill: var(--background-color);
        border-color: var(--primary-color);
        background-color: var(--primary-color);
        cursor: pointer;
    }
}