.top-bar {
    display: flex;
    background-color: var(--primary-color);
}

.title-wrap {
    @apply text-lg;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
}

.home-btn {
    cursor: pointer;
}

.dropdown {
    @apply text-sm;

    .dropdown-btn {
        display: inline-flex;
        width: 5rem;
        color: var(--primary-text-color);
        @apply leading-none;
        @apply px-4 py-2;
        @apply border rounded;
        border-color: var(--primary-text-color);

        &:hover {
            background-color: var(--primary-color-inverse);
            color: var(--primary-text-color-inverse);
            border-color: var(--primary-text-color-inverse);
        }
    }

    .dropdown-menu {
        @apply shadow;
        @apply rounded;

        &:hover {
            display: block;
            z-index: 50;
        }

        .menu-item {
            background-color: var(--background-color-light);
            // @apply bg-slate-600;
            color: var(--background-text-color);
            @apply py-2 px-4;
            display: block;
            width: 5rem;

            &:hover {
                background-color: var(--background-highlight-color);
            }
        }

        .first-item {
            @apply rounded-t;
        }

        .last-item {
            @apply rounded-b;
        }
    }

    &:hover .dropdown-menu {
        display: block;
        z-index: 50;
    }
}