.top-bar {
    display: flex;
    @apply bg-blue-500;
}

.title-wrap {
    @apply text-white text-lg;
    display: flex;
    align-items: center;
}

.dropdown {
    @apply text-sm;

    .dropdown-btn {
        display: inline-flex;
        width: 5rem;
        @apply text-white;
        @apply px-4 py-2;
        @apply leading-none;
        @apply border rounded;
        @apply border-white;

        &:hover {
            @apply text-blue-500;
            @apply border-white;
            @apply bg-white;
        }
    }

    .dropdown-menu {
        &:hover {
            display: block;
            z-index: 50;
        }
    
        .menu-item {
            @apply bg-gray-50 hover:bg-gray-200;
            @apply text-gray-700;
            @apply py-2 px-4;
            display: block;
            width: 5rem;
        }
    
        .first-item {
            @apply rounded-t;
        }
    
        .last-item {
            @apply rounded-b;
        }
    }

    &:hover .dropdown-menu {
        display: block;
        z-index: 50;
    }
}